<main class="_continue-as-guest margin-bottom--120">
        
    <section class="entrance background--007EE7-03A0F3">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-top--140 padding-right--40 padding-bottom--40 padding-left--40">
                <div class="view--grid grid-template-columns---125FR-1FR-125FR">

                    <div class="introduction">
                        <div>
                            <p class="text-size--36 text-weight--500 text-line-height--145 text-color--FFFFFF">Challenges</p>
                            <div class="margin-top--10">
                                <ul class="view--grid grid-template-columns--3XY grid-gap---65rem align--center justify--start">
                                    <li>
                                        <a class="text-weight--300 text-color--FFFFFF" href="/">Home</a>
                                    </li>
                                    <li>
                                        <p class="text-weight--300 text-color--FFFFFF">/</p>
                                    </li>
                                    <li>
                                        <p class="text-weight--300 text-color--FFFFFF">Challenges</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
       
    <section class="margin-top--80">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-right--40 padding-left--40">

                <div class="introduction">
                    <div>
                        <div class="posture--relative padding-top--30 padding-right--30 padding-bottom--30 padding-left--30 border--EBEBEB border-radius--10">
                            <div>
                                <div class="view--grid grid-template-columns--4XY grid-gap--6rem justify--between">
                                    <div>
                                        <div>
                                            <div class="min-width--25 max-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                <div>
                                                    <div class="opacity--4">
                                                        <div>
                                                            <div class="text-size--12">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top--10">
                                            <div>
                                                <p>Select a challenge</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--5">
                                            <div>
                                                <div class="opacity--6">
                                                    <div>
                                                        <div class="text-size--14 text-weight--500 text-line-height--165">Duis aute irure dolor in reprehenderit in voluptate</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="min-width--25 max-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                <div>
                                                    <div class="opacity--4">
                                                        <div>
                                                            <div class="text-size--12">2</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top--10">
                                            <div>
                                                <p>Select a challenge</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--5">
                                            <div>
                                                <div class="opacity--6">
                                                    <div>
                                                        <div class="text-size--14 text-weight--500 text-line-height--165">Duis aute irure dolor in reprehenderit in voluptate</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="min-width--25 max-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                <div>
                                                    <div class="opacity--4">
                                                        <div>
                                                            <div class="text-size--12">3</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top--10">
                                            <div>
                                                <p>Select a challenge</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--5">
                                            <div>
                                                <div class="opacity--6">
                                                    <div>
                                                        <div class="text-size--14 text-weight--500 text-line-height--165">Duis aute irure dolor in reprehenderit in voluptate</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="min-width--25 max-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                <div>
                                                    <div class="opacity--4">
                                                        <div>
                                                            <div class="text-size--12">4</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top--10">
                                            <div>
                                                <p>Select a challenge</p>
                                            </div>
                                        </div>
                                        <div class="margin-top--5">
                                            <div>
                                                <div class="opacity--6">
                                                    <div>
                                                        <div class="text-size--14 text-weight--500 text-line-height--165">Duis aute irure dolor in reprehenderit in voluptate</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
              
    <section class="challenges margin-top--80">
        <div class="view--grid grid-template-columns--80rem justify--center">
            <div class="padding-right--40 padding-left--40">

                <div class="introduction">
                    <div>
                        <div class="view--grid grid-template-columns--2XY grid-gap---125rem justify--start">
                            <div>
                                <p class="text-size--20 text-weight--500 opacity--10" data-sort="in-progress" data-referer="continue-as-guest">To do</p>
                            </div>
                            <div>
                                <p class="text-size--20 text-weight--500 opacity--4" data-sort="completed" data-referer="continue-as-guest">Done</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="conclusion margin-top--25">
                    <div>
                        <div class="view--grid grid-template-columns--1FR grid-gap---175rem">
                            {{#each challenges}}
                                <div>
                                    <div class="posture--relative padding-top--20 padding-right--40 padding-bottom--20 padding-left--20 border--EBEBEB border-radius--10">
                                        <div>
                                            <div class="view--grid grid-template-columns--25REM grid-gap--4rem align--center">
                                                <div>
                                                    <div class="posture--relative">
                                                        <div>
                                                            <img class="object--cover border-radius--10" width="100%" height="180" src="{{picture}}" alt="Community - {{name}}">
                                                        </div>
                                                        <div>
                                                            <div class="posture--absolute top--0 right--0 bottom--0 left--0 padding-top--40 padding-right--40 padding-bottom--40 padding-bottom--40 padding-left--40 background--00000063 border-radius--10">
                                                                <div>
                                                                    <div class="text-size--20 text-color--FFFFFF text-line-height--165 text-align--center">{{name}}</div>
                                                                </div>
                                                                <div class="margin-top--5">
                                                                    <div>
                                                                        <div class="opacity--8">
                                                                            <div>
                                                                                <div class="text-color--FFFFFF text-line-height--165 text-align--center">{{describe}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="text-align--center text-line-height--165">Complete the task for the amount <color--FFF style="color:#007EE7">${{cash}}</color--FFF></div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <div class="view--grid grid-template-columns--2XY grid-gap---85rem align--center justify--start">
                                                            <div>
                                                                <div class="min-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                                    <div>
                                                                        <div class="opacity--4">
                                                                            <div>
                                                                                <div class="text-size--12">1</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="margin-top---2">
                                                                    <div>
                                                                        <div class="opacity--6">
                                                                            <div>
                                                                                <div class="text-size--14 text-weight--500 text-line-height--165">{{step1}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{#if step2}}
                                                    <div class="margin-top--10">
                                                        <div>
                                                            <div class="view--grid grid-template-columns--2XY grid-gap---85rem align--center justify--start">
                                                                <div>
                                                                    <div class="min-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                                        <div>
                                                                            <div class="opacity--4">
                                                                                <div>
                                                                                    <div class="text-size--12">2</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="margin-top---2">
                                                                        <div>
                                                                            <div class="opacity--6">
                                                                                <div>
                                                                                    <div class="text-size--14 text-weight--500 text-line-height--165">{{step2}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/if}}
                                                    {{#if step3}}
                                                    <div class="margin-top--10">
                                                        <div>
                                                            <div class="view--grid grid-template-columns--2XY grid-gap---85rem align--center justify--start">
                                                                <div>
                                                                    <div class="min-width--25 min-height--25 border--EBEBEB border-radius--50 view--grid align--center justify--center">
                                                                        <div>
                                                                            <div class="opacity--4">
                                                                                <div>
                                                                                    <div class="text-size--12">3</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="margin-top---2">
                                                                        <div>
                                                                            <div class="opacity--6">
                                                                                <div>
                                                                                    <div class="text-size--14 text-weight--500 text-line-height--165">{{step3}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/if}}
                                                    <div class="margin-top--20 view--grid justify--start">
                                                        <div>
                                                            <a class="text-size--14 text-weight--500 view--grid grid-template-columns--2XY grid-gap---35rem align--center background--F2F8FE text-color--FFFFFF text-align--center padding-top--10 padding-right--20 padding-bottom--10 padding-left--20 border-radius--50 oncross--rose" data-challange="The best supercars cars" data-picture="//carwow-uk-wp-3.imgix.net/18015-MC20BluInfinito-scaled-e1666008987698.jpg" style="color:#007EE7" href="/">You must be logged in <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#007EE7" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        {{!-- <p>There are no tasks</p> --}}
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>